<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.electronicguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SCRActivity"></activity>
        <activity android:name=".LEDActivity" />
        <activity android:name=".TransistorActivity" />
        <activity android:name=".BatteryActivity" />
        <activity android:name=".ICActivity" />
        <activity android:name=".InductorActivity" />
        <activity android:name=".ZenerDiodeActivity" />
        <activity android:name=".DiodeActivity" />
        <activity android:name=".CapacitorActivity" />
        <activity android:name=".ResistorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>